@charset "utf-8";
/* CSS Document */

*{
    margin: 0;
    padding: 0;
}

#modal, #modal1, #modal2, #modal3, #modal4, #modal5,  #modal6,  #modal7 {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 10;
}

#modal button, #modal1 button, #modal2 button, #modal3 button, #modal4 button, #modal5 button, #modal6 button, #modal7 button {
	position: absolute;
    cursor: pointer;
    right: 15px;
    bottom: 15px;
    font-weight: bold;
    color: #0a519d;
    border: 1px solid #0a519d;
    padding: 10px;
    letter-spacing: 1px;
}

#modal button:hover, #modal1 button:hover, #modal2 button:hover, #modal3 button:hover, #modal4 button:hover, #modal5 button:hover, #modal6 button:hover, #modal7 button:hover {
	background-color: #0a519d;
	color: #fff;
}

.modal-question {
	width: 800px;
	height: 300px;
	background: #fff;
	border-radius: 10px;
	padding: 10px 30px;
	display: table;
	margin: 20vh auto;
	position: relative;
}

.modal-alineado {
	display: table-cell;
	vertical-align: middle;
	font-size: 24px;
	color: #0a519d;
	line-height: 40px;
}

td {
	width: 100px;
    height: 200px;
	padding: 10px;
	border: 1px solid #fff;
	border-radius: 4px;
	cursor: pointer;
}

body{
    background-position: top right;
    background-repeat: no-repeat;
	font-size: 75%;
	background-color: #0a519d;
	font-family: Helvetica, Arial, sans-serif;
}

.titulo {
	font-size: 54px;
	text-align: center;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #fff;
}

#memotest .card {
	width: 170px;
    margin: 10px;
    height: 180px;
    cursor: pointer;
    border: 1px solid;
    border-radius: 10px;
    float: left;
    display: flex;
	align-items: center;
	background-color: #fff;
}

#memotest img{
	width: 70%;
    margin: 0 auto;
}

#memotest{
	color:white;
	font-size:35px;
	font-size: Helvetica,sans-serif;
	margin-left:0;
	width: 1360px;
	padding-top:10px;
	padding-left:10px;
	text-align:center;
	position:relative;
	margin: 0 auto;
}

#anotador{
	color: #fff;
    padding: 25px 0 5px 110px;
    font-size: 30px;
    position: absolute;
    top: -17px;
}
#anotador span{
	font-weight:bold;
	color:white;
	text-shadow: 0px 0px 4px #0fff17;
	filter: dropshadow(color=#0fff17, offx=0, offy=0);     
}

#jugar{
	display: block;
	width: 200px;
	height:50px;
	margin: 0 auto;
	color: #000;
	cursor:pointer;
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 4px;
}

#jugarnuevamente {
	display: none;
	height:50px;
	margin: 0 auto;
	color: #000;
	cursor:pointer;
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 4px;
	padding: 0 10px;
	margin: 20px auto;
}

.pregunta {
	width: 200px;
    display: block;
    margin: 0 auto;
}

.mensaje-de-exito {
	z-index: 3;
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(10, 81, 157, 0.8);
}

.mensaje-alineado {
	display: table-cell;
	vertical-align: middle;
}

.felicitaciones {
	font-size: 50px;
	text-align: center;
	padding-top: 50px;
	color: #fff;
}